@media (min-width: 1000px){
  .bg{
    background-image: url(../images/bg-pattern-intro-desktop.svg);
  }
  .navbar{
    max-width: 81.25rem;
    padding-inline: 6rem;
    margin-left: auto;
    margin-right: auto;

  }
  .hero__title{
    font-size: 4.1rem;
  }
  .hero__description{
    font-size: 1.35rem;
  }

  /* SECOND */
  .second__content{
    flex-direction: row-reverse;
    max-width: 81.25rem;
    position: relative;
    
  }
  .second__title{
    font-size: 2.5rem;
    /* margin-bottom: -4rem; */
  }
  .second__description{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .text{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  .text h2{
    padding: 0;
  
  }
  img{
    max-width: 150%;
  }
  .illustration{
    transform: translateX(10%);
  }
} 